// ======================================== [IMPORTS]
@import './colors';
@import './isFlex';
@import './isGrid';
@import './transition';
@import './Components/scroll';

// ======================================== [PROJECT]
body {
    width: 100%;
    @include is-flex(flex-start, flex-start);
    background-color: $color-4
}

main {
    @extend .grid-9;
    margin-top: 3.5em;
    padding: 0 3em;
    @include is-flex(flex-start, flex-start);
}

.navbarVertical {
    @extend .grid-3;
    height: 100vh;
    padding: 2em;
    overflow-y: hidden;
    transition: $transition-2;
    @include scroll-2();
    background-image: $gradient-1;

    & * {
        color: white;
    }

    &:hover {
        .namesListContent {
            padding-right: 0;
        }

        overflow-y: auto;
    }

    .namesListContent {
        padding-right: .5em;
    }


    .navBrand {
        @include is-flex(center, flex-start);
        padding: .8em 0;
        font-size: 28px;

        i {
            margin-right: .4em;
        }
    }

    .navItem {
        padding: 1em;
        height: 100%;
        border-radius: 10px;
        margin-bottom: .8em;
        background-color: $color-3;
    }

    .active {
        i {
            font-size: 1.2em;
        }

        background-color: $color-5;
        border-radius: 10px 0;
        border-bottom: 2.5px solid white;
    }
}

.detailsSection {
    width: 100%;

    .sectionInformation {
        @include is-flex(center, space-between);
        min-width: 50%;
        margin-bottom: 1.6em;

        .nameClient {
            font-size: 36px;
        }

        span {
            font-size: 18px;
        }
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 26px;
        margin-bottom: .4em;
    }
}

.btn {
    font-size: 16px;
    width: 100%;
    text-align: start;
    font-family: 'Signika', sans-serif;
}